    .options { max-width:400px;  }
    .options p { margin:0; font-size:0.9em; }
    .options p.copy {
      font-size: 0.8em;
      color: navy;
    }

    body {
      background: linear-gradient(#e66465, #9198e5);
      font-family: 'Oswald', sans-serif;
    }

    h1{
      text-align: center;
    }
    section {
      display:flex;
    }

    h2{
    }

    #map{
      padding-left : 2%;
    }
    #select {
      padding-left: 5%;
      width: 40%;
    }

    .info {
      padding-left : 2%;
    }
    /**Progress bar */