

    body {
      /*background: linear-gradient(#e66465, #9198e5)*/
      background-color: #6272D9;
      font-family: 'Oswald', sans-serif;
      color : white;
    }

    h1{
      text-align: center;
    }
    section {
      margin-top:5%;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      height: 100hv;

    }
  .form-control{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    color: #8CF086;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #F9F871;
    background-color: transparent;
    text-decoration: none;
  }

    .progress{
      width: 80%;
    }

  .filter-records{
    width: 100%;
  }
    .container{
      display:flex;
      align-content: space-around;
      margin-bottom: 65px;
    }

.contain{
  width: 48%;
}


  .img-responsive{
    width: 70%;
    height: auto;
  }
